Leiningen.gitignore

target/*
.lein-failures
.nrepl-port

# clojure-lsp
.calva
.lsp
.clj-kondo/*
!.clj-kondo/config.edn
/clojure-lsp*
.cpcache
target/stale/leiningen.core.classpath.extract-native-dependencies
